html,
body {
  scroll-behavior: smooth;
}

/* Кастомные классы из вашего Vue-компонента, 
  которых нет в стандартном Tailwind
*/
.min-w-3xs {
  /* Вы можете настроить это значение. 240px - разумное предположение. */
  min-width: 240px;
}

.max-w-95 {
  max-width: 95%;
}